body {
    background-color: midnightblue;
}
h1 {
    color: cyan;
    font-size:xx-large;
    margin-left: 35%;
    padding: 50px;
}
legend{
    color:coral;
    font-size: large;

}
#fieldset1{
    background-color: #FFB6C1;
    margin-top: 30px;
}
#fieldset2{
    background-color: lightgreen ;
    margin-top: 30px;
}
#fieldset3{
    margin-top: 30px;
    background-color: white;
}
#fieldset4{
    margin-top: 30px;
    background-color: rgb(0, 217, 255);

}
input[type="submit"] {
    background-color:red ;
    
}
input[type="submit"]:hover{
    background-color: blue;
}
input[type="reset"]{
    background-color: blueviolet;

}
input[type="reset"]:hover{
    background-color: black;
}